{
    "common_config":{
        "tra_detect_service":{
            "servers":[
                {
                    "ip": "0.0.0.0",
                    "port": "19421"
                },
                {
                    "ip": "0.0.0.0",
                    "port": "19422"
                }
            ]
        },
        "shared_memory":{
            "shm_size":512000000,
            "container_size":50
        },
        "DBconfig":{
            "ip": "0.0.0.0",
            "port": "22222"
        }
    },
    "scheduler": [
        {
            "channel_id": 1,
            "channel_name": "A7",
            "category": "motorway",
            "input_video_streamer": {
                "in_url": "/DATACENTER3/Traffic_Project/1.10_test_videos/motorway/A7.264",
                "mat_height": 720,
                "mat_width": 1280,
                "buffer_length": 10,
                "format":"rtmp"
            },
            "output_video_streamer": {
                "out_url": "rtmp://192.168.9.19:1936/live/traffic1",
                "buffer_length": 10,
                "format":"rtmp"
            },
            "interval":{
                "jaminterval": 30,
                "humanInterval": 30,
                "slowInterval": 30,
                "stopInterval": 30,
                "backInterval": 10,
                "dcInterval":30,
                "countInterval": 10
            },
            "batch_preidct_size":10,
            "tracker_config":{
                "congestion":8,
                "slowmoving":8,
                "stopping":2,
                "stopratio":0.01,
                "slowratio":0.05,
                "areabarrier":[[0,720],[0,0],[1280,0],[1280,720]],
                "vehiclesize":2500,
                "contexth":5,
                "contextw":10,
                "slowing":5
            }
        },
        {
            "channel_id": 2,
            "channel_name": "A9",
            "category": "motorway",
            "input_video_streamer": {
                "in_url": "/DATACENTER3/Traffic_Project/1.10_test_videos/motorway/A9.264",
                "mat_height": 720,
                "mat_width": 1280,
                "buffer_length": 30,
                "format":"udp"
            },
            "output_video_streamer": {
                "out_url": "rtmp://192.168.9.19:1936/live/traffic2",
                "buffer_length": 10,
                "format":"rtmp"
            },
            "interval":{
                "jaminterval": 30,
                "humanInterval": 30,
                "slowInterval": 30,
                "stopInterval": 30,
                "backInterval": 10,
                "dcInterval":30,
                "countInterval": 10
            },
            "batch_preidct_size":10,
            "tracker_config":{
                "congestion":8,
                "slowmoving":8,
                "stopping":2,
                "stopratio":0.01,
                "slowratio":0.05,
                "areabarrier":[[0,720],[0,0],[1280,0],[1280,720]],
                "vehiclesize":2500,
                "contexth":5,
                "contextw":10,
                "slowing":5
            }
        }
    ],
    "video_stream_center_common": {
        "log_error_format": "./log/video_stream_error",
        "log_info_format": "./log/video_stream_info"
    },
    "video_stream_center": [
        {
            "channel_id": 1,
            "out_video_stream_url":
            {
                "out_url_ip": "udp://192.168.9.14",
                "out_url_port": "10011"
            },
            "out_video_stream_file":
            {
                "video_path": "/DATACENTER3/Traffic_Project/video_cache/",
                "write_time": 2,
                "filename_format": "YYYYMMDDTHHMMSS",
                "filename_prefix": "Traffic_",
                "video_format": ".264"
            },
            "in_video_stream":
            {
                "in_url": "/DATACENTER3/wmy/Traffic_Project/Test_video/FNORTH_FACE01.mp4",
                "mat_height": 1080,
                "mat_width": 1920
            }
        }
    ]
}
